Flask==2.3.2
Werkzeug==2.2.3
coverage==6.5.0
coveralls==3.3.1
docopt==0.6.2
exceptiongroup==1.1.1
iniconfig==2.0.0
itsdangerous==2.1.2
packaging==23.0
pluggy==1.0.0
pytest-cov==4.0.0
pytest==7.2.2
six==1.16.0
tomli==2.0.1
