{% include "partials/header.html" %}
{% include "partials/navbar.html" %}

<div class="container">
  <p><a href="."><i class="fa fa-chevron-left"></i> Back</a></p>

  <h1>RNAGet Implementation Compliance Report</h1>
  <h2>Server: {{data.platform_name}}</h2>
  <h4 class="tab1">Base URL: {{data.input_parameters.base_url}}</h4>
  <p class="tab1">Total tests passed: {{data.summary.passed}}</p>
  <p class="tab1">Total tests failed: {{data.summary.failed}}</p>
  <p class="tab1">Total tests skipped: {{data.summary.skipped}}</p>
  <p class="tab1">Total warnings generated: {{data.summary.warned}}</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#text">Text</a></li>
    <li><a data-toggle="tab" href="#matrix">Matrix</a></li>
  </ul>

  <div class="tab-content">
    <div id="text" class="tab-pane fade in active">
      {% for phase in data.phases %}
        <section id="{{phase.phase_name}}">
          <div class="report-endpoint-section">
            <h3 class="">{{h.f.capitalize(phase.phase_name)}} </h3>

            <p class="tab1">Tests</p>

            {% for test in phase.tests %}
              
              <p class='tab2 {{ h.s.status[test.status].css_class }}'><i class="fa {{h.s.status[test.status].fa_class}}"></i> Test: {{h.f.format_test_name(test.test_name)}} - {{ h.s.status[test.status].status }}</p>
              <p class="tab3"><strong>description:</strong> {{test.test_description}}</p>
              <p class="tab3"><strong>summary:</strong> {{test.summary}}</p>
              
              <!-- API Testing -->
              {% for case in test.cases %}
                <p class='tab4 {{ h.s.status[case.status].css_class }}'><i class="fa {{h.s.status[case.status].fa_class}}"></i> API Test Case: {{h.f.format_test_name(case.case_name)}} - {{ h.s.status[case.status].status }}</p>
                <p class='tab5'>case description: {{case.case_description}}</p>
                <p class='tab5'>case summary: {{case.message}}</p>

                <p class="tab5">
                  <button class="btn btn-info tr-elem" type="button" data-toggle="collapse" data-target="#collapse-{{h.f.rm_space(data.platform_name)}}-{{endpoint}}-{{ins_key}}-{{h.f.rm_space(case.case_name)}}" aria-expanded="false" aria-controls="collapse-{{h.f.rm_space(data.platform_name)}}-{{endpoint}}-{{ins_key}}-{{h.f.rm_space(case.case_name)}}">
                    <i class="fa fa-info-circle"></i> View Test Case Audit Logs
                  </button>
                </p>
                <div class="collapse" id="collapse-{{h.f.rm_space(data.platform_name)}}-{{endpoint}}-{{ins_key}}-{{h.f.rm_space(case.case_name)}}">
                  <div class="well audit-logs">
                      {% for log in case.log_messages %}
                        <p class="audit-message">{{log}}</p>
                      {% endfor %}
                  </div>
                </div>
              {% endfor %}

            {% endfor %}
          </div>
        </section>
      {% endfor %}
    </div>

    <div id="matrix" class="tab-pane fade">
        <div class="container">
            <table id="compliance_matrix" class="table">
              <thead>
                <th>Server name</th>
                <th>Object and Id</th>
                <th>Test case</th>
                <th>Status</th>
              </thead>
              <tbody>
              
              {% for phase in data.phases %}
                {% for test in phase.tests %}
                  <tr class="{{h.s.status[test.status].css_class}}">
                    <td>{{data.platform_name}}</td>
                    <td>{{h.f.capitalize(phase.phase_name)}}: {{ins_key}}</td>
                    <td>{{h.f.format_test_name(test.test_name)}}</td>
                    <td>{{h.s.status[test.status].status}}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
              
              </tbody>
            </table>
        </div>
    </div>
    
  </div>
</div>

{% include "partials/footer.html" %}
