body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.test-result-div {
  margin-bottom: 1.0em;
}
.underline {
  text-decoration: underline;
}
.tab1 {
  text-indent: 8px;
}
.tab2 {
  text-indent: 16px;
}
.tab3 {
  text-indent: 24px;
}
.tr-div {
  display: block;
  margin-bottom: 5.0px;
}
.tr-elem {
  display: inline-block;
}
.tr-p {
  width: 25.0em;
}
#text {
  margin-top: 5px;
}
#btn-json-dload-foo {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}